/* ---------- Home Page CSS ---------- */

#homeGrid {
	background-color: #FED700;
}

#home-game-logo {
	margin: 35px;
}

#playButton {
	font-size: 35px;
	color: white;
	font-family: monospace;
	background-color: #0271BC;
	margin: 5px;
}

#scoreButton {
	font-size: 35px;
	color: white;
	font-family: monospace;
	background-color: #0271BC;
	margin: 5px;
}

/* ---------- Play Page CSS ---------- */

#playPageGrid {
	background-color: #FED700;
}

#play-logo {
	margin: 20px;
}

/* ---------- Score Page CSS ---------- */

#scorePageGrid {
	background-color: #FED700;
}

#score-logo {
	margin: 40px;
}

.score-worldwide-label-name {
	font-size: 20px;
	color: white;
	margin: 1px;
	text-align: center;
	height: 33px;
}

.score-worldwide-label-country {
	font-size: 20px;
	color: white;
	margin: 1 0 1 0;
	text-align: center;
	background-color: #3CC416;
	height: 33px;
}

.score-worldwide-label-points {
	font-size: 20px;
	color: #0097EF;;
	margin: 1px;
	padding: 0 3 0 0;
	text-align: right;
	height: 33px;
}

.score-type {
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	color: white;
	background-color: #EF3F3F;
}

.score-stack {
	width: 310px;
}

#coins-image {
	width: 30px;
	height: 30px;
}